<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ reserve "title" }}</title>
</head>
<body style="margin: 0;">
    <div style="background-color: #eee; padding: 1em;">
        <div style="margin: 0 auto; max-width: 1300px; display: flex; gap: 10px;">
            <b style="font-size: 1.1rem; margin-right: 10px;">Main Layout</b>

            <a href="/">Home</a>
            <a href="/about">About</a>
        </div>
    </div>

    <main style="padding: 0 10px; margin: 0 auto; max-width: 1300px;">
        {{ reserve "content" }}
    </main>
</body>
</html>