@use("layouts/main")

@insert("title", title)

@insert("content")
    <h2>{{ title }}</h2>
    <h3>Email is serhii@mail.com</h3>

    <h3>Names:</h3>

    @if(showNames)
        <ul>
            <li>{{ names[0] }}</li>
            <li>{{ names[1] }}</li>
            <li>{{ names[2] }}</li>
            <li>{{ names[3] }}</li>
        </ul>
    @end

    <h3>Books:</h3>

    <div>
        @each(book in books)
            <div>
                <h4>Title: {{ book.title }}</h4>
                <p>ISBN: {{ book.isbn }}</p>
                <p>Author: {{ book.author.firstName }}</p>
            </div>
        @end
    </div>
@end