@use("layouts/main")

@insert("title", title)

@insert("content")
    <h2>{{ title }}</h2>
    <h3>Email is serhii@mail.com</h3>

    <h3>Here are names:</h3>

    @if(showNames)
        <ul>
            <li>{{ names[0] }}</li>
            <li>{{ names[1] }}</li>
            <li>{{ names[2] }}</li>
            <li>{{ names[3] }}</li>
        </ul>
    @end

    <h3>Here are names:</h3>

    <ul>
        @each(book in books)
            <li>{{ book.title }} by {{ book.author.name }}</li>
        @end
    </ul>
@end