name: Go

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.25]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4

    - name: Install line length checker
      uses: go install github.com/golangci/golines@latest

    - name: Build
      run: go build -v ./...

    - name: Test
      run: make check
