name: Go

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.25]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4

    - name: Install line length checker
      run: go install github.com/golangci/golines@latest

    - name: Install golangci-lint
      run: curl -sSfL https://golangci-lint.run/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.8.0 | curl -sSfL https://golangci-lint.run/install.sh | sh -s v2.8.0 | wget -O- -nv https://golangci-lint.run/install.sh | sh -s v2.8.0

    - name: Build
      run: go build -v ./...

    - name: Test
      run: make check
